@page "/admin/productcreate/{RequestId:guid}"
@page "/admin/productcreate"
@page "/admin/productupdate/{ProductId:guid}"
@attribute [Authorize(Roles = RoleInfo.DeveloperOrAdmin)]



<link href="/css/Client/dist/requestedit.css" rel="stylesheet" />

<div class="page requestedit-page">
    <PageHeader Title="Ürün Oluşturma" Url="admin/request" />

    @if (PageType == PageType.Request)
    {
        <div class="section-zero">
            <pre class="mb-0">Eklenmek istenen ürün:Patlıcan<br />Burada açıklamamız var.</pre>
        </div>
    }


    <div class="section-one">
        <form>
            <div class="form-group">
                <input type="text" class="mb-2 form-control" placeholder="Ürün tipi ismi" />
                <div class="custom-file mb-2">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                    <label class="custom-file-label" for="validatedCustomFile">Ürün görseli seçiniz...</label>
                    <div class="invalid-feedback">Geçersiz dosya</div>
                </div>
                <input class="form-control" type="submit" />
            </div>
        </form>
    </div>
</div>

@code{

    [Parameter]
    public Guid RequestId { get; set; }

    [Parameter]
    public Guid ProductId { get; set; }

    public PageType PageType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Guid emptyGuid = new Guid();
        PageType = RequestId == emptyGuid ? (ProductId==emptyGuid? PageType.Create:PageType.Update) : PageType.Request; 
    }

}