@page "/"
@attribute [Authorize]

<div class="header d-flex flex-column justify-content-center align-items-center">
    <h3 class="font-weight-bold">Borsa</h3>
    <img class="img-fluid" src="/img/matket.png" alt="wallet" />
    <h5>&nbsp;</h5>
</div>
<div class="body">
    <ProductList />
</div>