.main-container {
    height: 100%;
    width: 100%;
    color: var(--color4);
    background-color: var(--color4);
    .page {
        height: 100%;
        width: 100%;
        .page-header{
            display: flex;
            align-items: center;
            background-color: var(--color6);
            color: var(--color4);
            a{
                font-size: 1.75rem;
                padding-left: 0.5rem;
                color: var(--color4);
            }
            h3{
                flex: 1;
                margin: 0;
                padding-left: 1rem;
            }
        }
    }

    .side {
        .header {
            padding: 2rem 0;

            img {
                height: 100px;
                margin-bottom: 0.5rem;
            }
        }
    }


    .left-side {
        background-color: var(--color6);

        .body {
            ul {
                li {
                    border-bottom: 1px solid var(--color4);

                    &:last-child {
                        border-bottom: 0;
                    }

                    &:hover {
                        background-color: var(--color1);
                        color: var(--color4);

                    }

                    a {
                        background-color: var(--color5);
                        color: var(--color6);
                        font-weight: bold;
                        font-size: 1.5rem;
                        box-sizing: border-box;
                        padding: 10px 0 10px 15px;
                        display: block;
                        cursor: pointer;
                        text-decoration: none;
                    }

                }
            }
        }
    }

    .right-side {
        background-color: var(--color7);

        .body {
            padding:0 1rem;
            ul {
                height: 65vh;
                overflow-y: auto;
                overflow-x: hidden;

                li {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        a {
                            background-color: var(--color1);
                            color: var(--color4);
                        }
                    }

                    a {
                        background-color: var(--color5);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                        text-decoration: none;
                        color: var(--color4);


                        p {

                            font-size: 1.5rem;
                            margin-bottom: 0;
                            word-wrap: normal;
                        }

                        div {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;

                            img {
                                height: 50px;
                            }
                        }
                    }


                }
            }
        }
    }
}