.requestedit-page{
    background-color: var(--color7);
    .section-one{
        background-color: var(--color6);
        padding: 1rem;
        margin: 15% auto;
        width: 50%;
        pre{
            color:var(--color4);
        }
    }

}