.requestadd-page {
    background-color: var(--color7);

    .section-one {
        display: flex;
        justify-content: center;
        background-color: var(--color6);
        padding: 1rem;
        margin: 2rem;
        align-items: center;
        form{
            width: 85%;
            .validation-message{
                color: tomato;
            }
        }
    }
    

}