@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
:root {
    --yale-blue: #044389ff;
    --maximum-yellow: #fcff4bff;
    --honey-yellow: #ffad05ff;
    --dark-sky-blue: #7cafc4ff;
    --united-nations-blue: #5995edff;
    --color1:#4D4B63;
    --color1-light:#726F92;
    --color2:#5385E4;
    --color3:#C7D6F7;
    --color4:#FEFFFF;
    --color5:#ABA8B1;
    --color6:#03213D;
    --color7:#072E54;
}
